---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {

    const books = await getCollection("books");

    return books.map((book) => ({
      params: { id: book.slug }, // Se utiliza 'slug' directamente de 'book'
        props: {book}
    }))
}

const {book} = Astro.props

const {data} = book
const {title, author, img, readtime, description, buy} = data

const { Content } = await render(book)
---
<Layout title={`${title} - Dev Books`}>
    <div class="flex gap-12">
      <aside class="flex flex-col items-center gap-4">
        <a href='/' class="hover:underline opacity-70">← Volver atrás</a>
        <img transition:name={`img-${book.slug}`} class="rounded w-72 h-auto" src={`/books/${img}`} alt={title} />
      </aside>
      <main class="max-w-3xl">
        <h1 transition:name={`title-${book.slug}`} class="text-4xl font-bold mb-4">{title}</h1>
        <div class="prose prose-invert">
          <Content />
        </div>
      </main>
    </div>
  </Layout>